[run]
source = custom_components/hydrolink

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
    raise NotImplemented

[html]
directory = coverage_html

[xml]
output = coverage.xml